[gpg]
	program = gpg
[commit]
	gpgsign = false
[user]
	signingkey = 9F071448877E6705
	name = sciencefidelity
	email = 32623301+sciencefidelity@users.noreply.github.com
[credential]
	helper = osxkeychain
[init]
	defaultBranch = main
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
