.CodeMirror-code {
  font-size: 125%;
  font-family: MonoLisa;
}

.CodeMirror {
  background: rgb(27,28,28) !important;
}

.graphiql-explorer-root {
  font-size: 100% !important;
  font-family: MonoLisa !important;
  border-right: 1px solid rgb(53,52,53);
}

.graphiql-explorer-filter {
  color: rgb(161,137,220) !important;
}

.doc-explorer-title-bar, .topBar, .docExplorerShow {
  background-color: rgb(40,40,40) !important;
}
.graphiql-container .docExplorerShow::before {
  border-left: 2px solid rgb(217,230,241) !important;
  border-top: 2px solid rgb(217,230,241) !important;
}

.graphiql-operation-title-bar {
  color: rgb(253,106,96) !important;
}

.graphiql-operation-title-bar span input {
  background-color: rgb(27,28,28);
  color: rgb(253,106,96) !important;
  font-family: MonoLisa !important;
  font-size: 100% !important;
  border: none;
}

.graphiql-explorer-field-view {
  color: rgb(106, 180, 252) !important;
}

.graphiql-container .doc-explorer-contents, .graphiql-container .history-contents {
  background-color: rgb(27,28,28);
  border-top: 1px solid rgb(53,52,53);
}

.graphiql-container .toolbar-button {
  background: rgb(55,57,60) !important;
  box-shadow: none !important;
  color: rgb(217,230,241) !important;
  border: 1px solid rgb(53,52,53) !important;
}

.graphiql-container .result-window .CodeMirror-gutters {
  background: rgb(27,28,28);
  border: none !important;
}

.graphiql-container .resultWrap {
  border-left: solid 1px rgb(53,52,53);
}

.graphiql-container .variable-editor-title {
  background: rgb(27,28,28);
  border-bottom: 1px solid rgb(53,52,53);
  border-top: 1px solid rgb(53,52,53);
  color: rgb(217,230,241);
}

.graphiql-container .topBar {
  background: rgb(27,28,28);
  border-color: rgb(53,52,53);
}

.graphiql-container .docExplorerHide {
  color: #606671;
}

.graphiql-container .doc-explorer-title, .graphiql-container .history-title, .doc-explorer-back {
  color: rgb(217,230,241) !important;

}

.graphiql-container .doc-explorer {
  background: rgb(27,28,28);
}

.graphiql-container .docExplorerWrap, .graphiql-container .historyPaneWrap {
  box-shadow: none;
}

.graphiql-container .docExplorerShow {
  border-left: none;
}
.graphiql-container .docExplorerShow, .graphiql-container .historyShow {
  background: rgb(27,28,28);
  border-bottom: 1px solid rgb(53,52,53);
  color: rgb(217,230,241);
}

.graphiql-container .docExplorerShow:before, .graphiql-container .doc-explorer-back:before  {
  border-color: rgb(53,52,53);
}

.graphiql-container .search-box {
  margin: auto auto 10px auto;
  border: none;
}
.graphiql-container .search-box input {
  background: #1E2127;
  padding-left: 28px;
}

.graphiql-container .search-box .search-box-clear,
.graphiql-container .search-box .search-box-clear:hover {
  background: #1d2126;
}

.graphiql-container .search-box:before {
  color: #c1c4ca;
  font-size: 21px;
  left: 8px;
}

.graphiql-container, .graphiql-container button, .graphiql-container input {
  color: rgb(217,230,241);
}

.CodeMirror-gutters {
  border: none !important;
  background-color: rgb(27,28,28);
}

.graphiql-container .execute-button {
  background: rgb(40,40,40);
  border: 1px solid rgb(217,230,241);
  box-shadow: none !important;
  fill: rgb(217,230,241);
}

.graphiql-container .history-contents p {
  border: none;
}

.graphiql-container .historyPaneWrap {
  background: rgb(27,28,28);
}

.graphiql-container .execute-options > li.selected, .graphiql-container .toolbar-menu-items > li.hover, .graphiql-container .toolbar-menu-items > li:active, .graphiql-container .toolbar-menu-items > li:hover, .graphiql-container .toolbar-select-options > li.hover, .graphiql-container .toolbar-select-options > li:active, .graphiql-container .toolbar-select-options > li:hover, .graphiql-container .history-contents > p:hover, .graphiql-container .history-contents > p:active {
  background: #383C41;
}

.graphiql-container .doc-category-title {
  border-bottom: 1px solid rgb(53,52,53);
  color: rgb(217,230,241);
}

.graphiql-container .field-name {
  color: #9CA3AC;
}

.graphiql-container .type-name {
  color: rgb(145,208,103);
}


.cm-property {
  color: rgb(217,230,241);
}

.cm-string {
  color: rgb(145,208,103);
}

.cm-variable {
  color: rgb(246,187,81);
}

.cm-attribute {
  color: rgb(246,187,81);
}

.cm-def {
  color: rgb(253,106,96);
}

.cm-keyword {
  color: rgb(121,197,179);
}

.graphiql-container .keyword {
  color: rgb(161,137,220);
}

.graphiql-container .arg-name {
  color: rgb(246,187,81);
}

.graphiql-container .doc-category-item {
  color: rgb(161,137,220);
}

a {
  color: rgb(121,197,179);
}

.CodeMirror-lint-tooltip {
  background: #1a1e22 !important;
  color: rgb(253,106,96);
}


.cm-atom {
  color: rgb(161,137,220);
}

.CodeMirror-hints {
  background: rgb(27,28,28);
  box-shadow: 0 16px 13px -10px rgba(0, 0, 0, 0.3);
}
.CodeMirror-hint {
  border-top: solid 1px rgb(53,52,53);
  color: rgb(145,208,103);
}
.CodeMirror-hint-information {
  border-top: solid 1px rgb(53,52,53);
}
li.CodeMirror-hint-active {
  background-color: rgb(27,28,28);
  border-top-color: rgb(53,52,53);
  color: rgb(145,208,103);
}
.CodeMirror-hint-information .content {
  color: rgb(121,197,179);
}
.CodeMirror-linenumber {
  color: rgb(92,97,102);
}
.cm-comment {
  color: rgb(103,115,127);
}
.cm-punctuation {
  color: rgb(155,174,191);
}

.graphiql-code-exporter {
  border-left: 1px solid rgb(53,52,53);
}
.CodeMirror-line .cm-keyword {
  color: rgb(106,180,252);
}
.CodeMirror-line .cm-def {
  color: rgb(217,230,241);
}
.CodeMirror-line .cm-string, .CodeMirror-line .cm-string-2 {
  color: rgb(253,106,96);
}
.CodeMirror-line .cm-variable {
  color: rgb(145,208,103);
}
.CodeMirror-line .cm-tag, .CodeMirror-line .cm-tag.cm-bracket {
  color: rgb(161,137,220);
}
svg {
  fill: rgb(217,230,241);
}