@font-face {
    font-family: "MonoLisa";
    font-style: normal;
    font-weight: 400;
    src: url('fonts/MonoLisa-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "MonoLisa";
    font-style: normal;
    font-weight: 700;
    src: url('fonts/MonoLisa-Bold.ttf') format('truetype');
}
@font-face {
    font-family: "MonoLisa";
    font-style: italic;
    font-weight: 400;
    src: url('fonts/MonoLisa-RegularItalic.ttf') format('truetype');
}
@font-face {
    font-family: "MonoLisa";
    font-style: italic;
    font-weight: 700;
    src: url('fonts/MonoLisa-BoldItalic.ttf') format('truetype');
}
