:root {
  --serif: ui-sans-serif;
  --monospace: ui-monospace, monospace;
}

body {
  font-family: var(--serif);
}

pre,
code,
kbd,
samp {
  font-family: var(--monospace);
}

input,
button,
select,
optgroup,
textarea {
  font-family: inherit;
}

::-webkit-file-upload-button {
  font: inherit;
}

::file-selector-button {
  font: inherit;
}

::-webkit-file-upload-button {
  font: inherit;
}
